@reference "../../pages/globals.css";

.checkbox-class-1 {
  @apply bg-input dark:bg-input/30 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground dark:data-[state=checked]:bg-primary size-4 shrink-0 rounded-[4px] outline-none disabled:cursor-not-allowed disabled:opacity-50;
  box-shadow: var(--shadow-neo-inset-xs);
  border: none;
}
.checkbox-class-1[data-state='checked'] {
  box-shadow: var(--shadow-neo-xs);
}

.checkbox-class-2 {
  @apply flex items-center justify-center text-current transition-none;
}

.checkbox-class-3 {
  @apply size-3.5;
}

