@reference "../../pages/globals.css";

.radio-group-class-1 {
  @apply grid gap-3;
}

.radio-group-class-2 {
  @apply text-primary bg-input dark:bg-input/30 aspect-square size-4 shrink-0 rounded-full outline-none disabled:cursor-not-allowed disabled:opacity-50;
  box-shadow: var(--shadow-neo-inset-xs);
  border: none;
}
.radio-group-class-2[data-state='checked'] {
  box-shadow: var(--shadow-neo-xs);
}

.radio-group-class-3 {
  @apply relative flex items-center justify-center;
}

.radio-group-class-4 {
  @apply fill-primary absolute top-1/2 left-1/2 size-2 -translate-x-1/2 -translate-y-1/2;
}

