@reference "../../pages/globals.css";

.tabs-class-1 {
  @apply flex flex-col gap-2;
}

.tabs-class-2 {
  @apply bg-background text-muted-foreground inline-flex h-10 w-fit items-center justify-center rounded-xl p-1;
  box-shadow: var(--shadow-neo-inset-sm);
}

.tabs-class-3 {
  @apply text-foreground dark:text-muted-foreground inline-flex h-[calc(100%-2px)] flex-1 items-center justify-center gap-1.5 rounded-lg px-3 py-1 text-sm font-medium whitespace-nowrap outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
  border: none;
  box-shadow: none;
}
.tabs-class-3[data-state='active'] {
  @apply bg-card text-foreground;
  box-shadow: var(--shadow-neo-xs);
}

.tabs-class-4 {
  @apply flex-1 outline-none;
}

